<div class="col-md-4">
    <article class="post-card">
        <a href="{% url 'post_detail' post.pk %}" class="post-card-img-wrap">
            {% if post.cover_image %}
            <img src="{{ post.cover_image.url }}" alt="{{ post.title }}" class="post-card-img">
            {% else %}
            <div class="post-card-img post-card-no-img"><span>{{ post.location_name|first }}</span></div>
            {% endif %}
            {% if post.country %}
            <span class="post-card-country">{{ post.country.flag }} {{ post.country.name }}</span>
            {% endif %}
        </a>
        <div class="post-card-body">
            <div class="post-card-types">
                {% for tt in post.travel_types.all|slice:":2" %}
                <span class="badge-type">{{ tt.icon }} {{ tt }}</span>
                {% endfor %}
            </div>
            <h3 class="post-card-title"><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h3>
            <p class="post-card-excerpt">{{ post.body|truncatewords:18 }}</p>
            <div class="post-card-meta">
                <a href="{% url 'profile' post.author.username %}" class="post-card-author">
                    <img src="{{ post.author.profile.get_avatar_url }}" class="avatar-xs" alt="">
                    {{ post.author.get_full_name|default:post.author.username }}
                </a>
                <span class="post-card-date">{{ post.created_at|date:"d M Y" }}</span>
            </div>
        </div>
    </article>
</div>
